h2 {
    color: #565656;
}
.menu{
  color: blue
}
.main-menu > li {
  line-height: 1.5;
  font-size: 18pt;
  font-weight: bold;
}
.categore-menu > li{
  line-height: 1.5;
  font-size: 16pt;
}
.main-menu > li.active{
  font-size: 17px;
  color: black;
}
.categore-menu > li.active{
  font-size: 17px;
  color: black;
}