html { overflow-x: hidden; }
body{
background-color: #F38C58;
}
.main{
width: 75%;
height: 45rem;
margin-left: auto;
margin-right: auto;
background-color: #FF9966;
}
.title{
font-family: serif;
text-align: center;
font-size: 55px;
margin-top: 10px;
}
a{
    color: #FF732D;
    font-size: 20px;
}
h2{
    margin: 5px;
}
h3{
    margin: 5px;
}
/* Photo */
input[type="checkbox"] {
    display: none;
    }
.galleryimg{
width: 14rem;
height: 19rem;
}
.grid {
display: flex;
-webkit-flex-wrap: wrap;
padding: 3px;
overflow: auto;
text-align: center;
width: 80%;
position: absolute;
left:19%;
top:5rem
}
.grid .grid-item {
width: 25%;
padding: 3px;
-webkit-transition: opacity .5s;
transition: opacity .5s;
}

.grid img {
max-width: 100%;
max-height: 100%;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.grid img:hover {
box-shadow:0 0 10px rgb(33, 94, 84);
}
.lightbox{
width: 60%;
background-color: #FF9966;
position: absolute;
left:20%;
top:12%;
z-index: 1;
min-height: 83%;
overflow: auto;
transform: scale(0);
transition: transform .3s ease-out;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.lightbox img {
position: fixed;
width: 380px;
height: 560px;
top: 19.5rem;
left: 14rem;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
.galtext{
position: fixed;
top: 19rem;
left: 40rem;
width: 400px;
transform: translate(-50%, -50%);
text-align: justify;
font-size: 18px;
}
input[type="checkbox"]:checked + .lightbox {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
} 
