html { overflow-x: hidden; }
.container {
max-width: 999%;
height: 20px;
}

body{
width: 105%;
}
.dropdown-menu{
width: 120px;
}
.right{
float: right;
}
main{
font-family: Times New Roman;
font-size: 19px;
color: black;
}
.container-fluid{
height: 53px;
}
.me-auto{
background-color: black;
}
.photo1{
height: 200px;
}
.photo2{
height: 330px;
}
.silka {
color: #8e8e8e;
transition: color .15s ease-in-out;
display: inline-block;
margin: 4px;
margin-right: 10px;
font-size: 20px;
margin-bottom: 0;
text-decoration: none;
}
.silk {
color: #8e8e8e;
transition: color .15s ease-in-out;
margin-bottom: 25px;
text-decoration: none;
}

.site-header a:hover {
color: #fff;
text-decoration: none;
}
.navbar{
height: 53px;
background-color: black;
font-family: Times New Roman;
}
.spisok{
position: relative;
display: inline-block;
float: right;
}
.spisok-content {
display: none;
position: absolute;
background-color: rgb(50, 50, 50);
min-width: 200px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 0;
}
.spisok-content a:hover {background-color: #696767}
.spisok:hover .spisok-content {
display: block;
}
.rid{
height: 70px;
}
.verx{
width: 99%;
}
.verx2{
  display: none;
}
.logo{
width: 350px;
}
.bio{
display: inline-block;
top: 20px;
text-align:justify;
}
footer{
height: 100px;
background-color: black;
position:initial;
font-family: Times New Roman;
color: black;
}
@media only screen and (max-width: 1235px){
  .silka {
    margin: 4px;
    margin-right: 8px;
    font-size: 18px;
    }
}
@media only screen and (max-width: 992px){
  .verx{
     display: none;
  }
  .verx2{
    display: block;
    width: 105%;
    height: 100%
  }
  .silka {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 45px;
    }
  .concurs{
    display: none;
  }
  .spisok-content{
    display: block;
  }
}