body{
background-color: #f8e9f8;
}
table{
border-spacing: 0px 0px;
width: 100%;
}
.table1{
width: 94.5%;
background-color: black;
color: white;
position: fixed;
}
header{
    width: 94.5%;
    background-color: black;
    color: white;
    position: fixed;
    }
.table2{
width: 94.5%;
}
.propuck{
height:170px;
}
i{
float: left;
}
nav {
    float: left;
    }
.lap2{
float: right;
}
.lap1{
    float: left;
    }
.name{
height: 50px;
}
td, th{
border: 2px solid black;
}
.menu{
width: 20%;
}
.spisok{
position: relative;
display: inline-block;
}
nav{
    position: relative;
    display: inline-block;
    }
.spisokth{
background-color: black;
color: white;
font-size: 20px;
}
.spisok-content {
display: none;
position: absolute;
background-color: ghostwhite;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 0;
}
/* Ссылки внутри выпадающего */
.spisok-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Изменить цвет выпадающих ссылок при наведении */
.spisok-content a:hover {background-color: #f1f1f1}

/* Показать выпадающее меню при наведении */
.spisok:hover .spisok-content {
display: block;
}
nav:hover .spisok-content {
    display: block;
    }
/* Изменить цвет фона кнопки выпадающего списка, когда отображается содержимое выпадающего списка. */
 nav:hover .spisokth {
background-color: grey;
}
nav:hover .spisokth {
    background-color: grey;
    }
.propuck{
width: 60%;
}
.propuck1{
width: 80px;
}
.table3{
width: 100%;
background-color: white;
}
.without{
border: 0;
display: inline-block;
}
a {display:block; 
width:150px; 
color:black; 
text-decoration:none; 
padding:10px 5px 10px 40px;
margin: auto;
float: left;
font-size: 20px}
a:hover{
-moz-box-shadow:0 0 10px rgb(59, 59, 59);
-webkit-box-shadow:0 0 10px rgb(59, 59, 59);
box-shadow:0 0 10px rgb(59, 59, 59);
}
/* Стилизация выпадающей кнопки */
.dropbtn {
font-size: 20px;
}

/* Контейнер <div> - необходимо разместить выпадающий контент */
.dropdown {
position: relative;
display: inline-block;
}

/* Выпадающий контент (скрыт по умолчанию) */
.dropdown-content {
display: none;
position: absolute;
background-color: ghostwhite;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Ссылки внутри выпадающего */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
margin-left: 50px;
}

.dropbtn{
color: black;
}

/* Показать выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
display: block;
position: fixed;

}


.price{
color: red;
font-size: 25px
}

p{
font-size: 22px   
}
.imgphoto{
transform: rotate(90deg)
}

.zagol{
background-color: rgb(114, 109, 109);
height: 35px;
width: 100%;
display: inline-block;
text-align: center;
}
.text{
border:2px solid black;
margin: 1%;
display: inline-block;
width: 20%;
height:200px;
overflow: auto;
background-color: rgb(255, 252, 252);
color:rgb(32, 32, 32);
font-weight: bold;
}
.all{
border:2px solid black;
margin: 1%;
display: inline-block;
width: 30%;
height:200px;
overflow: auto;
background-color: rgb(255, 252, 252);
font-weight: bold;
}
input[type="checkbox"] {
display: none;
}
.galleryimg{
width: 480px;
height: 270px;
}

.lightbox, .grid {
width: 100%;
position: absolute;
left:10%;
top:30%
}

.lightbox {
z-index: 1;
min-height: 80%;
overflow: auto;
-webkit-transform: scale(0);
-ms-transform: scale(0);
    transform: scale(0);
-webkit-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}
.lightbox img {
position: fixed;
top: 38%;
left: 38%;
max-width: 96%;
max-height: 96%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.lightbox span{
position: fixed;
top: 38%;
left: 70%;
background-color: rgb(197, 197, 197);
max-width: 40%;
max-height: 96%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
input[type="checkbox"]:checked + .lightbox {
-webkit-transform: scale(1);
-ms-transform: scale(1);
    transform: scale(1);
} 
.grid {
display: flex;
-webkit-flex-wrap: wrap;
padding: 3px;
overflow: auto;
text-align: center;

}
.grid .grid-item {
width: 25%;
padding: 3px;
-webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.grid .grid-item:hover {
-moz-box-shadow:0 0 30px rgb(59, 59, 59);
-webkit-box-shadow:0 0 3px rgb(59, 59, 59);
box-shadow:0 0 3px rgb(59, 59, 59);
}
@media screen and (max-width: 700px) {
.grid .grid-item {
width: 50%;
}
}
@media screen and (max-width: 400px) {
.grid .grid-item {
width: 100%;
}
}

.grid img {
max-width: 100%;
max-height: 100%;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.just{
border:2px solid black;
display: inline-block;
width: 95%;
height:600px;
overflow: auto;
font-weight: bold;
}
.laptop{
    border:2px solid black;
width: 95%;
overflow: auto;
display: inline-block;
}
.anim{
    width: 200px;
}
.animblock{
    float: right;
    display: inline-block;
}
.fa{
float:right;
top: 0
}
body{
    max-width: 100%;
}
@media screen and (max-width: 600px) {
.just{
        font: 9pt italic;  
    }
.laptop{
    font: 5pt italic;  
}
.anim{
    width:100px
}
}
.game{
    border:2px solid black;
    width: 70%;
    height:400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
}
.box1{
    align-self: flex-end;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: cyan;
    height: 50px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 50px;
}
.box1 {
    animation-name: box1;
    animation-timing-function: linear;
}
@keyframes box1 {
    25% {
        transform: translate(-30vmin, -30vmin);
}
50% {
        transform: translate(30vmin, -30vmin);
}
75% {
        transform: translate(30vmin);
}
}
.box1:hover {
    -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
    transition: 0s;
    background-color: black;
  }
.box2:hover{
    -webkit-animation-play-state: paused !important;
    animation-play-state: paused !important;
transition: 0s;
background-color: black;
}
.box3:hover{
    -webkit-animation-play-state: paused !important;
    animation-play-state: paused !important;
transition: 0s;
background-color: black;
}
.box4:hover{
    -webkit-animation-play-state: paused !important;
    animation-play-state: paused !important;
transition: 0s;
background-color: black;
}
.box2{
    align-self: flex-end;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: pink;
    height: 30px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 30px;
}
.box2move {
    animation-name: box2move;
    animation-timing-function: linear;
}
@keyframes box2move {
    40% {
        transform: translate(-30vmin, -30vmin);
}
50% {
        transform: translate(20vmin, -20vmin);
}
30% {
        transform: translate(50vmin, -50vmin);
}
}
.box3{
    align-self: flex-end;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: rgb(106, 8, 111);
    height: 70px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 70px;
}
.box3move {
    animation-name: box3move;
    animation-timing-function: linear;
}
@keyframes box3move {
    80% {
        transform: translate(-40vmin, -40vmin);
}
50% {
        transform: translate(20vmin, -20vmin);
}
20% {
        transform: translate(30vmin, -30vmin);
}
30% {
    transform: translate(-30vmin, -30vmin);
}
40% {
    transform: translate(30vmin, -30vmin);
}
}
.box4{
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: rgb(204, 233, 40);
    height: 20px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 20px;
}
.box4move {
    animation-name: box4move;
    animation-timing-function: linear;
}
@keyframes box4move {
    20% {
        transform: translate(-30vmin, -30vmin);
}
40% {
        transform: translate(-90vmin, -30vmin);
}
60% {
        transform: translate(-30vmin, -30vmin);
}
80% {
    transform: translate(30vmin, -30vmin);
}
}
.slider1 {
	width: 500px;
	height: 350px;
	margin: 10px;
	margin-left: 100px;
	border: 1px solid black;
	position: relative;
    overflow: hidden;
    display:inline-block;
}

.slide {
	width: 500px;
	height: 350px;
	position: absolute;
	top: 0;
    left: 0;
    animation-name: slide;
	animation-duration: 9s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes slide {
    from {
     top: 0px;
     left: 0px;
    }
    12.5% {
     transform: translate(0px, 0px);
    }
    25% {
     transform: translate(-600px, 0px);
    }
    36% {
     transform: translate(-600px, 350px);
    }
    37% {
     transform: translate(600px, 350px);
    }
    87.5% {
     transform: translate(600px, 0px);
     
    }
    to {
     transform: (0px, 0px);
    }
   }

   .slide1 { 
    background: url(img/image1.jfi);
    animation-delay: 7.5s;
   }
   .slide2 { 
    background: url(img/image2.jfif);
    animation-delay: 5s;
   }
   .slide3 { 
    background: url(img/image3.jpg);
    animation-delay: 2.5s;
   }
   .slide4 { 
    background: url(img/image4.jfif);
    animation-delay: 0s;
   }

  .wrapper {
	height: 350px;
    margin:  10px;
    margin-left: 75px;
	position: relative;
    width: 500px;
    display:inline-block;

}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slides1 { background-image: url(img/image1.jfif); }
.slides2 { background-image: url(img/image2.jfif); }
.slides3 { background-image: url(img/image3.jpg); }
.slides4 { background-image: url(img/image4.jfif); }
.slides5 { background-image: url(img/image5.jpg) }

#slides1:checked ~ .slider > .slides1,
#slides2:checked ~ .slider > .slides2,
#slides3:checked ~ .slider > .slides3,
#slides4:checked ~ .slider > .slides4,
#slides5:checked ~ .slider > .slides5 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.wrapper > input {
	display: none;
}

.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: rgb(58, 58, 58);
}

.wrapper label:after {
	border: 2px solid rgb(39, 39, 39);
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}