body{
    background-color: #f8e9f8;
    }
table{
        border-spacing: 0px 0px;
        width: 100%;
    }
.table1{
    width: 100%;
    background-color: black;
    color: white
}
.lap1{
    float: left;
}
.lap2{
    float: right;
}
.name{
    height: 50px;
}
.table2{
    width: 100%;
    
}
td, th{
    border: 2px solid black;
}
.menu{
    width: 20%;
}
.propuck{
    width: 60%;
}
.table3{
    width: 100%;
    background-color: white;
}
.without{
    border: 0
}
a {display:block; 
    width:195px; 
    color:black; 
    text-decoration:none; 
    padding:10px 5px 10px 40px;
    margin: auto;
    float: left;
    font-size: 20px}
.price{
        color: red;
        font-size: 25px
    }
.info{
    display:block; 
    color:white; 
    text-decoration:none;
    width: 100%;
    font-size: 22px
}
p{
    font-size: 22px   
}