body{
background-color: #f8e9f8;
}
table{
border-spacing: 0px 0px;
width: 100%;
}
.table1{
width: 94.5%;
background-color: black;
color: white;
position: fixed;
}
header{
    width: 94.5%;
    background-color: black;
    color: white;
    position: fixed;
    }
.table2{
width: 94.5%;
}
.propuck{
height:170px;
}
i{
float: left;
}
nav {
    float: left;
    }
.lap2{
float: right;
}
.lap1{
    float: left;
    }
.name{
height: 50px;
}
td, th{
border: 2px solid black;
}
.menu{
width: 20%;
}
.spisok{
position: relative;
display: inline-block;
}
nav{
    position: relative;
    display: inline-block;
    }
.spisokth{
background-color: black;
color: white;
font-size: 20px;
}
.spisok-content {
display: none;
position: absolute;
background-color: ghostwhite;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
/* Ссылки внутри выпадающего */
.spisok-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Изменить цвет выпадающих ссылок при наведении */
.spisok-content a:hover {background-color: #f1f1f1}

/* Показать выпадающее меню при наведении */
.spisok:hover .spisok-content {
display: block;
}
nav:hover .spisok-content {
    display: block;
    }
/* Изменить цвет фона кнопки выпадающего списка, когда отображается содержимое выпадающего списка. */
 nav:hover .spisokth {
background-color: grey;
}
nav:hover .spisokth {
    background-color: grey;
    }
.propuck{
width: 60%;
}
.propuck1{
width: 80px;
}
.table3{
width: 100%;
background-color: white;
}
.without{
border: 0;
display: inline-block;
}
a {display:block; 
width:150px; 
color:black; 
text-decoration:none; 
padding:10px 5px 10px 40px;
margin: auto;
float: left;
font-size: 20px}
a:hover{
-moz-box-shadow:0 0 10px rgb(59, 59, 59);
-webkit-box-shadow:0 0 10px rgb(59, 59, 59);
box-shadow:0 0 10px rgb(59, 59, 59);
}
/* Стилизация выпадающей кнопки */
.dropbtn {
font-size: 20px;
}

/* Контейнер <div> - необходимо разместить выпадающий контент */
.dropdown {
position: relative;
display: inline-block;
}

/* Выпадающий контент (скрыт по умолчанию) */
.dropdown-content {
display: none;
position: absolute;
background-color: ghostwhite;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Ссылки внутри выпадающего */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
margin-left: 50px;
}

.dropbtn{
color: black;
}

/* Показать выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
display: block;
position: fixed;

}


.price{
color: red;
font-size: 25px
}

p{
font-size: 22px   
}
.imgphoto{
transform: rotate(90deg)
}

.zagol{
background-color: rgb(114, 109, 109);
height: 35px;
width: 100%;
display: inline-block;
text-align: center;
}
.text{
border:2px solid black;
margin: 1%;
display: inline-block;
width: 20%;
height:200px;
overflow: auto;
background-color: rgb(255, 252, 252);
color:rgb(32, 32, 32);
font-weight: bold;
}
.all{
border:2px solid black;
margin: 1%;
display: inline-block;
width: 30%;
height:200px;
overflow: auto;
background-color: rgb(255, 252, 252);
font-weight: bold;
}
input[type="checkbox"] {
display: none;
}
.galleryimg{
width: 480px;
height: 270px;
}

.lightbox, .grid {
width: 100%;
position: absolute;
left:10%;
top:30%
}

.lightbox {
z-index: 1;
min-height: 80%;
overflow: auto;
-webkit-transform: scale(0);
-ms-transform: scale(0);
    transform: scale(0);
-webkit-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}
.lightbox img {
position: fixed;
top: 38%;
left: 38%;
max-width: 96%;
max-height: 96%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.lightbox span{
position: fixed;
top: 38%;
left: 70%;
background-color: rgb(197, 197, 197);
max-width: 40%;
max-height: 96%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
input[type="checkbox"]:checked + .lightbox {
-webkit-transform: scale(1);
-ms-transform: scale(1);
    transform: scale(1);
} 
.grid {
display: flex;
-webkit-flex-wrap: wrap;
padding: 3px;
overflow: auto;
text-align: center;

}
.grid .grid-item {
width: 25%;
padding: 3px;
-webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.grid .grid-item:hover {
-moz-box-shadow:0 0 30px rgb(59, 59, 59);
-webkit-box-shadow:0 0 3px rgb(59, 59, 59);
box-shadow:0 0 3px rgb(59, 59, 59);
}
@media screen and (max-width: 700px) {
.grid .grid-item {
width: 50%;
}
}
@media screen and (max-width: 400px) {
.grid .grid-item {
width: 100%;
}
}

.grid img {
max-width: 100%;
max-height: 100%;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.just{
border:2px solid black;
display: inline-block;
width: 95%;
height:600px;
overflow: auto;
font-weight: bold;
}
.laptop{
    border:2px solid black;
width: 95%;
overflow: auto;
display: inline-block;
}
.anim{
    width: 200px;
}
.animblock{
    float: right;
    display: inline-block;
}
.fa{
float:right;
top: 0
}
body{
    max-width: 100%;
}
@media screen and (max-width: 600px) {
.just{
        font: 9pt italic;  
    }
.laptop{
    font: 5pt italic;  
}
.anim{
    width:100px
}
}